.rdrDefinedRangesWrapper {
    display: none;
}
.rdrDateRangePickerWrapper{
    box-shadow: none !important;
}

.button-container {
    display: flex;
    height: 40px;
    justify-content: space-around;
    margin-bottom: 16px;
    background-color: var(--color-primary-standard);
    border-bottom: 1px solid var(--color-primary-standard);
}

    .button-container--toggleOption {
        text-decoration: none;
        cursor: pointer;
        align-items: center;
        background-color: transparent;
        border-radius: 0px;
        color: #ffffff;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        height: 100%;
        justify-content: center;
        padding: 0px 12px;
        text-align: center;
        transition: background-color 0.2s ease 0s;
        white-space: nowrap;
    }

        .container {
            align-items: center;
            display: flex;
            flex-basis: auto;
            flex-grow: 1;
            justify-content: center;
        }

        .highlighted-bar {
            border-radius: 12px;
            height: 2px;
            width: min(100%, 40px);
            background-color: #ffffff;
        }

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 8px;
}

.date-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    width: 400px;
}

.date-range-days {
    padding: 0 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 16px;
}

.selected-range {
    padding: 0 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    gap: 20px;
}

.input-component .input-component__wrapper .wrapper__input-container--new {
    padding: 0.5rem !important;
}
