.rdrDefinedRangesWrapper {
    display: none;
}

.rdrDateRangePickerWrapper {
    box-shadow: none !important;
    display: flex !important;
    justify-content: center;
}

.rdrMonthAndYearWrapper{
    padding: 0px o !important;
}

.date-range-modal{
    font-family: 'Inter' !important;
    display: flex;
}

.button-container {
    display: flex;
    height: 40px;
    justify-content: space-around;
    margin-bottom: 16px;
    background-color: #f6f6f6;
    border-bottom: 1px solid var(--color--white-dark);
}

.button-container--toggleOption {
    font-family: 'Inter' !important;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 0px;
    color: #8f8f91;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    padding: 0px 12px;
    text-align: center;
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    white-space: nowrap;
}

.button-container--toggleOption:hover,
.button-container--toggleOption.active {
    color: var(--color--primary-standard);
}

.container {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: center;
}

.highlighted-bar {
    border-radius: 12px;
    height: 3px;
    width: min(100%, 40px);
    background-color: var(--color-primary-standard);
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    border-top: 1px solid var(--color--white-dark);
    padding: 16px;
}

#cancel-btn {
    width: 120px;
    font-size: 14px !important;
}

#apply-btn {
    width: 120px;
    font-size: 14px !important;
}

.date-range-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-range-days {
    padding: 0 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.selected-range {
    padding: 0 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.selected-since-range{
    padding: 0 24px;
}

.InputField {
    font-weight: var(--font-weight-bold);
}

.input-component .input-component__wrapper .wrapper__input-container {
    padding: 0.5rem !important;
}

.rdrMonthName {
    display: none !important;
}

.rdrMonths {
    margin: 0px !important;
    justify-content: center !important;
}

.rdrMonth {
    width: 24.667em !important;
    padding: 0px !important;
}

.rdrWeekDays {
    margin: 12px;
}

.rdrWeekDay {
    font-family: 'inter' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    color: #8f8f91 !important;
}

.rdrDayNumber span{
    font-family: 'inter' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.rdrStartEdge,
.rdrInRange,
.rdrEndEdge {
    background-color: var(--color--primary-standard) !important;
}

.rdrMonthPicker select,
.rdrYearPicker select {
    font-family: 'inter' !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #344054 !important;
    line-height: 20px !important;
}

